body {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  
  #heading {
    margin-top: 2vw;
    padding: 2vw 0vw 20px 0vw;
    border: 10px;
    color:black;
  }
    #heading h1 {
      font-size: 500%;
    }
      
      
      #options {
        padding: 10px;
        font-size: 150%;
      }
     
      
  body h2 {
    margin-top: 4vw;
    font-size: 200%;
  }
  #placeholder {
    margin-top: -1vw;
    font-size: larger;
  }
  #result {
    margin: 0px auto 0px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 75%;
  }
    .coin {
      margin: 1vw;
      padding: 20px 20px 0px 20px;
      border: solid black;
      max-width: 100px;
    }
      .coin-image {
        max-width: 100%;
      }