:root {
    /*maincolors*/
    --green: #52d053;
    --purple:#765898;
    --red:#ec2323;
    --OJ:#ea8532;}
.button {
    background-color: var(--primary);
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: var(--secondary);
    cursor: pointer;
    flex: 0 0 auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }